html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --cost-color: #121146;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-display: swap;
    font-size: 16px;
    line-height: 140%;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* Site Header */

.site-header{
    height: 780px;
    background: url(../images/icons.png) #F0F5FB;
    background-repeat: no-repeat;
    background-position: center;
}
.site-nav{
    display: flex;
    padding-top: 25px;
    margin-bottom: 105px;
    align-items: center; 
    white-space: nowrap;
}
.nav-left-list{
    list-style-type: none;
    display: flex;
    margin-right: 226px;
    padding: 0;
    position: relative;
}

.nav-left-items:not(:last-child){
    margin-right: 40px;
}
.nav-left-list a{
    text-decoration: none;
    color: black;
    font-weight: normal;
}
.site-logo{
    margin-right: 175px;
}
.site-logo a{
    display: block;
}
.site-nav-right{
    display: flex;
    align-items: center;
    margin: 0;
}
.daily-time{
    font-weight: normal;
    margin-right: 40px;
}
.nav-tel{
    position: relative;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
.nav-tel::before{
    content: "";
    background: url(../images/logo/tel.png) no-repeat;
    width: 33px;
    height: 33px;
    background-size: contain;
    margin-right: 16px;
}
.delivery{
    margin: 0 auto;
    text-align: center;
    width: 621px;
    margin-bottom: 60px;
}
.delivery-title{
    margin: 0;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    position: relative;
}
.delivery-desc{
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    position: relative;
    margin-bottom: 0;
}

.cheese-section{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.free-delivery-title{
    width: 200px;
    height: 40px;
    font-weight: normal;
    position: relative;
    top: 0;
}
.free-delivery-title::before{
    content: "";
    display: block;
    background: url(../images/cheesepart/line.svg) no-repeat;
    width: 141px;
    height: 40px;
    position: absolute;
    left: -210px;
    top: 40px;
}
.free-delivery-title span{
    color: red;
}
.free-delivery{
    position: relative;
    top: 100px;
}
.free-delivery::before{
    content: "";
    position: absolute;
    background: url(../images/cheesepart/line.svg) no-repeat;
    width: 141px;
    height: 40px;
    left: -200px;
    top: 50px;
}
.cheese{
    position: absolute;
    background: url(../images/cheesepart/pizza.png) no-repeat;
    background-size: contain;
    width: 650px;
    height: 485px;
    left: 300px;
    top: 0;
}

/* Popular dishes section */
.popular-title{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
    position: relative;
}
.popular-title::after{
    content: "";
    position: absolute;
    background: url(../images/triangle/costkorzinka.png) no-repeat;
    width: 275px;
    height: 140px;
    top: -135px;
    right: -90px;
}
.popular-food-list{
    list-style-type: none;
    display: flex;
    padding-left: 166px;
    padding-right: 166px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    position: relative;
}
.popular-food-list::before{
    content: "";
    position: absolute;
    background: url(../images/triangle/tirnoq.png) no-repeat;
    width: 125px;
    height: 115px;
    left: -90px;
}
.popular-food-list li:hover{
    background: #59AAF1;
    cursor: pointer;
    color: #ffff;
}
.popular-food-items{
    text-decoration: none;
    padding: 17px 35px;
    background: linear-gradient(0deg, #ECEEF6, #ECEEF6), #59AAF1;
    border-radius: 45px;
}

.popular-food-items a{
    text-decoration: none;
    color: #151515;
}
.food-active{
    background: #59AAF1;
}


/* Cards */

main{
    background-color: #ffffff;
    padding-top: 140px;
    padding-bottom: 127px;
}
.food-card{
    margin-bottom: 55px;
}
.food-card-list{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 40px;
    margin: 0;
    padding: 0;
}
.food-card-items{
    padding-top: 36px;
    padding-left: 25px;
    padding-right: 15px;
    background: #FFFFFF;
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 18px;
    background: url(../images/triangle/rectangle.png) no-repeat;
    background-size: contain;
    width: 260px;
    height: 425px;
    margin: 0;
}
.food-card-items:nth-child(3):before{
    content: "";
    background: url(../images/food-card/xit.png) no-repeat;
    position: absolute;
    width: 75px;
    height: 34px;
    left: 10px;
    top: 10px;
}
.food-card-items:nth-child(4n)::after{
    content: "";
    position: absolute;
    display: block;
    background: url(../images/triangle/tabaka.png);
    width: 198px;
    height: 149px;
}
.card-title-wrapper{
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-wrapper{
    display: flex;
    flex-direction: column;
}
.card-wrapper::before{
    display: block;
    content: "";
    background: url(../images/food-card/pizzasort.png) no-repeat;
    background-size: contain;
    padding-right: 30px;
    padding-left: 20px;
    margin: 0 auto;
    width: 170px;
    height: 173px;
    margin-bottom: 30px;
}
.karbonare::before{
    background: url(../images/logo/karbonare.jpg) no-repeat;
    background-size: contain;
}
.selmon::before{
    background: url(../images/logo/selmon.jpg) no-repeat;
    background-size: contain;
}
.mare::before{
    background: url(../images/logo/mare.jpg) no-repeat;
    background-size: contain;
}
.mare::before{
    background: url(../images/logo/kvatro.jpg) no-repeat;
    background-size: contain;
}
.formadjo::before{
    background: url(../images/logo/formadjyu.jpg) no-repeat;
    background-size: contain;
}
.kvadroform::before{
    background: url(../images/logo/kvadform.jpg) no-repeat;
    background-size: contain;
}
.food-card-title{
    margin: 0;
    font-weight: 600;
    color: black;
}
.card-desc{
    margin: 0;
    margin-bottom: 18px;
    font-size: 12px;
    font-weight: normal;
}
.cost{
    margin-bottom: 18px;
    text-align: center;
}
.cost-btn{
    border: none;
    background-color: #ffffff;
    width: 40px;
    border-radius: 20px;
    position: relative;
    left: 85px;
    cursor: pointer;
}
.more{
    display: flex;
    justify-content: center;
    margin-bottom: 103px;
}
.more-btn{
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    padding: 0;
}

/* Gallery images */
.gallery-section{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.gallery-image{
    width: 260px;
    height: 260px;
}
.left-half-image{
    background: url(/images/galleryimages/leftimage.png) no-repeat;
    width: 100px;
}
.table-image{
    background: url(/images/galleryimages/table.png) no-repeat;
}
.coffee-image{
    background: url(/images/galleryimages/coffee.png) no-repeat;
}
.free-image{
    background: url(/images/galleryimages/free.png) no-repeat;
}
.sushi-image{
    background: url(/images/galleryimages/sushi.png) no-repeat;
}
.right-half-image{
    background: url(/images/galleryimages/rightimage.png) no-repeat;
    width: 100px;
}
.instagram{
    padding: 20px;
    position: absolute;
    top: 40px;
    left: 425px;
    background: linear-gradient(45.04deg, #FD9924 -51.05%, #F65B16 134.89%);
    box-shadow: 0px 70px 90px rgba(253, 55, 36, 0.2), 0px 35px 50px rgba(253, 55, 36, 0.2), 0px 20px 25px rgba(253, 55, 36, 0.2);
    border-radius: 15px;
}
.instagram-background{
    padding: 55px;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    opacity: 0.9;
    background:  linear-gradient(45.04deg, #FD9924 -51.05%, #F65B16 134.89%);
    text-align: center;
}
.instagram-background a{
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

/* Site Footer */

.site-footer{
    padding-top: 82px;
    height: 650px;
    background: url(/images/footer/bg-vegetable.png) #F0F5FB no-repeat;
    background-size: contain;
    background-position: center 190px;
}
.footer-container{
    width: 960px;
    margin: 0 auto;
}
.footer-title{
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 150%;
    margin-bottom: 42px;
}
form{
    display: flex;
    justify-content: space-between;
    position: relative;
}
input{
    padding: 20px 30px;
    border-radius: 57px;
    outline: none;
    border: none;
}
.form-button{
    display: flex;
    padding: 18px 58px;
    cursor: pointer;
    background: linear-gradient(180deg, #FE5626 0%, #F23F0E 100%), #59AAF1;
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
    border-radius: 59px;
    color: #ffffff;
    border: none;
}
.form-button::after{
    content: "";
    background: url(/images/footer/arrow.png) no-repeat;
    width: 35px;
    height: 11px;
    margin-left: 31px;
    transition: ease 0.3s;
}
.form-button:hover::after{
    transform: translateX(10px);
}
.footer-image{
    align-items: center;
    justify-content: center;
}
form::after{
    position: absolute;
    content: "";
    background: url(/images/footer/car.png) no-repeat;
    width: 684px;
    height: 342px;
    left: 150px;
    top: 60px;
}
.footer-end{
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.footer-end a{
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: black;
}